<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h2>My Profile Page :)</h2>



<!-- <p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>
 -->


<a href="/find-me">Find Me!</a>




<div>
	<%= @user.description %>
</div>

<div>
	<b>IMAGE:</b> <img src="<%= @user.image %>">
</div>

<%= link_to image_tag @user.image %>



<div>
	<%= current_user.description %>
</div>
<div>
	<%= link_to "Get your Matches!", matches_path %>
</div>
	
