<style>
body {
	background: url('http://graph.facebook.com/<%= @user.uid %>/picture?type=large') no-repeat 25% 25% fixed;
	background-size: 100% 100%;
	font-family: Raleway;
}
.container {
	padding-right: 0;
}

.glyphicon-user {
	color: #fff;
	font-size: 25px;
}

.glyphicon-map-marker{
	color: #fff;
	font-size: 25px;
}

div#nav{
	margin-top: -45px;
	padding-top: 0;
}

div.row{
	margin-top: -20px;
}

h4 {
    margin-top: 40px;
}

#bg-overlay > div.col-xs-10.col-xs-offset-1.text.center > span {
	margin-top: -95px;
}
</style>

<div class="col-xs-12 animated slideInLeft" id="bg-overlay">
	<div id="nav">
		<div class="row">
			<a href="/find-me" class="col-xs-2"><span class="glyphicon glyphicon-map-marker"></span></a>
			<h4 class="col-xs-8 text-center"><%= @user.name %></h4>
			<a href="/matches" class="col-xs-2 text-right"><span class="glyphicon glyphicon-user"></span></a>
		</div>
	</div>

	<!-- <p><button onclick="geoFindMe()">Show my location</button></p>
	<div id="out"></div>
	 -->

	<div class="col-xs-10 col-xs-offset-1 text-center">
		<%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large", id: "profile-pic" %>
	</div>

	<div class="col-xs-10 col-xs-offset-1 text-center">
		<p id="description"><%= @user.description %></p>
	</div>

	<div class="col-xs-10 col-xs-offset-1 text center">
		<a href="/users/new"><span class="glyphicon glyphicon-cog col-xs-11 text-center"></span></a>	</div>

	<div id="sign-out" class="row col-xs-12 text-center">
		<%= link_to "Sign Out", signout_path, id: "sign_out" %>
	</div>
</div>

	
