<div class="row">
	<a href="/profile" class="col-xs-2"><span class="glyphicon glyphicon-home"></span></a>
	<h4 class="col-xs-8 text-center"> <%= current_user.name %>'s Matches </h4>
	<a href="/find-me" class="col-xs-2"><span class="glyphicon glyphicon-map-marker"></span></a>
</div>

<!-- <div class="row">
	<p class="col-xs-8 text-center"> Based on <%= current_user.interest_id %></p>
</div> -->

<% @users .each do |user| %>
<div class="row">
	<span class="col-xs-3 text-right"><img id="profile-pic" src="<%= user.image %>"></span><br>
	<p id="user-name" class="col-xs-9"><%= user.name %><p>
</div>
<% end %>

<!-- <p style="text-align: center"> <%= link_to 'See which NeXu users are nearby', :class => 'btn' %> </p>

<a>Click To Find Any Matches Near Me</a> -->

<!-- helper method to get int_matches to display -->
